body {
  margin: 5;
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: #121212;
  padding: 22px;
}

header {
  background-color: #252525;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 15px 15px 0 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
  border-top: 2px solid red;
  height: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  color: #fff;
}

th {
  background-color:#252525;
  color: white;
  padding: 10px;
  border-bottom: 2px solid red;
}

tr:nth-child(even) {
  background-color: #252525;
}
