header {
  background-color: #252525;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


h1 {
  color: #ffffff;
  font-size: 32px;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #d9d9d9;
}

th {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
}
